In [1]:
#imports
# also hmm, how is the python environment actually interacting with this shit. 
import pandas as pd

In [8]:
#importing Data 
# hmm, should redo so that this can be put into version control or something with references to this data
Gini_2015 = pd.read_csv("/Users/jackheadland/Desktop/Data Analysis capstone /Cleaned Data/Manually Cleaned/GiniCoefficientData/Gini by country 2015.csv")
Happiness_2015 = pd.read_csv("/Users/jackheadland/Desktop/Data Analysis capstone /Cleaned Data/Manually Cleaned/HappinessScoreArchive/2015.csv")
GDP_2015 = pd.read_csv("/Users/jackheadland/Desktop/Data Analysis capstone /Cleaned Data/Manually Cleaned/GDPData/GDP by country - World Bank - GDP-2015.csv")

Gini_2016 = pd.read_csv("/Users/jackheadland/Desktop/Data Analysis capstone /Cleaned Data/Manually Cleaned/GiniCoefficientData/Gini by country 2016.csv")
Happiness_2016 = pd.read_csv("/Users/jackheadland/Desktop/Data Analysis capstone /Cleaned Data/Manually Cleaned/HappinessScoreArchive/2016.csv")
GDP_2016 = pd.read_csv("/Users/jackheadland/Desktop/Data Analysis capstone /Cleaned Data/Manually Cleaned/GDPData/GDP by country - World Bank - GDP-2016.csv")

Gini_2017 = pd.read_csv("/Users/jackheadland/Desktop/Data Analysis capstone /Cleaned Data/Manually Cleaned/GiniCoefficientData/Gini by country 2017.csv")
Happiness_2017 = pd.read_csv("/Users/jackheadland/Desktop/Data Analysis capstone /Cleaned Data/Manually Cleaned/HappinessScoreArchive/2017.csv")
GDP_2017 = pd.read_csv("/Users/jackheadland/Desktop/Data Analysis capstone /Cleaned Data/Manually Cleaned/GDPData/GDP by country - World Bank - GDP-2017.csv")

Gini_2018 = pd.read_csv("/Users/jackheadland/Desktop/Data Analysis capstone /Cleaned Data/Manually Cleaned/GiniCoefficientData/Gini by country 2018.csv")
Happiness_2018 = pd.read_csv("/Users/jackheadland/Desktop/Data Analysis capstone /Cleaned Data/Manually Cleaned/HappinessScoreArchive/2018.csv")
GDP_2018 = pd.read_csv("/Users/jackheadland/Desktop/Data Analysis capstone /Cleaned Data/Manually Cleaned/GDPData/GDP by country - World Bank - GDP-2018.csv")

In [11]:
GDP_2018

                    Country Name Country Code          2018
0                          Aruba          ABW  30253.279360
1    Africa Eastern and Southern          AFE   1530.161917
2                    Afghanistan          AFG    493.756581
3     Africa Western and Central          AFW   1695.959215
4                         Angola          AGO   3289.643995
..                           ...          ...           ...
261                       Kosovo          XKX   4419.914327
262                  Yemen, Rep.          YEM    824.117718
263                 South Africa          ZAF   6372.605655
264                       Zambia          ZMB   1516.371100
265                     Zimbabwe          ZWE   1352.162653

[266 rows x 3 columns]

In [3]:
# OK , 2018 is DONE
Merged_2018 = pd.merge(left= Gini_2018, right = Happiness_2018, left_on='Country Name',right_on = 'Country or region')
Merged_2018 = Merged_2018.rename(columns={'Score':'Happiness Score'})
Merged_2018 = Merged_2018.rename(columns={'GDP':'DELETE'})
Merged_2018 = Merged_2018.rename(columns={'Country Name':'Country'})
Merged_2018 = pd.merge(left= Merged_2018, right = GDP_2018, left_on='Country',right_on = 'Country Name')
Merged_2018 = Merged_2018.rename(columns={'2018':'GDP'})
Merged_2018 = Merged_2018.sort_values(by= ['GDP'], ascending = False)


Merged_2018 = Merged_2018[['Country','Country Code_x','GINI','GDP','Happiness Score']]
Merged_2018 = Merged_2018.rename(columns={'Country Code_x':'Country Code'})

Merged_2018['GINI'] = Merged_2018['GINI'].multiply(-1)
Merged_2018['GINI'] = Merged_2018['GINI'].add(100)

print(Merged_2018.head())
Merged_2018.to_csv("/Users/jackheadland/Desktop/Data Analysis capstone /Cleaned Data/Cleaned with Python/Merged_2018_Cleaned.csv")

          Country Country Code  GINI           GDP  Happiness Score
30     Luxembourg          LUX  64.6  116597.29560            6.910
10    Switzerland          CHE  66.9   86429.50082            7.487
38         Norway          NOR  72.4   82267.80932            7.594
55  United States          USA  58.6   63064.41841            6.886
15        Denmark          DNK  71.8   61598.53670            7.555

In [4]:
# 2017 is DONE 
Merged_2017 = pd.merge(left= Gini_2017, right = Happiness_2017, left_on='Country Name',right_on = 'Country')
Merged_2017 = Merged_2017.rename(columns={'Happiness.Score':'Happiness Score'})
Merged_2017 = Merged_2017.rename(columns={'GDP':'DELETE'})
Merged_2017 = pd.merge(left= Merged_2017, right = GDP_2017, left_on='Country',right_on = 'Country Name')
Merged_2017 = Merged_2017.rename(columns={'2017':'GDP'})

Merged_2017.head()

Merged_2017 = Merged_2017.sort_values(by= ['GDP'], ascending = False)


Merged_2017 = Merged_2017[['Country','Country Code_x','GINI','GDP','Happiness Score']]
Merged_2017 = Merged_2017.rename(columns = {'Country Code_x': 'Country Code'})

Merged_2017['GINI'] = Merged_2017['GINI'].multiply(-1)
Merged_2017['GINI'] = Merged_2017['GINI'].add(100)

Merged_2017
Merged_2017.to_csv("/Users/jackheadland/Desktop/Data Analysis capstone /Cleaned Data/Cleaned with Python/Merged_2017_Cleaned.csv")

In [5]:
#2016 DONE 
Merged_2016 = pd.merge(left= Gini_2016, right = Happiness_2016, left_on='Country Name',right_on = 'Country')

Merged_2016 = pd.merge(left= Merged_2016, right = GDP_2016, left_on='Country Code',right_on = 'Country Code')
Merged_2016 = Merged_2016.rename(columns={'2016':'GDP'})

print(Merged_2016.head())

Merged_2016 = Merged_2016.sort_values(by= ['GDP'], ascending = False)



Merged_2016 = Merged_2016[['Country', 'Country Code','GINI','GDP','Happiness Score']]
Merged_2016 = Merged_2016[Merged_2016['GDP'].notna()]


Merged_2016['GINI'] = Merged_2016['GINI'].multiply(-1)
Merged_2016['GINI'] = Merged_2016['GINI'].add(100)


Merged_2016
Merged_2016.to_csv("/Users/jackheadland/Desktop/Data Analysis capstone /Cleaned Data/Cleaned with Python/Merged_2016_Cleaned.csv")

  Country Name_x Country Code  GINI    Country                       Region  \
0        Albania          ALB  33.7    Albania   Central and Eastern Europe
1      Argentina          ARG  42.0  Argentina  Latin America and Caribbean
2        Armenia          ARM  32.5    Armenia   Central and Eastern Europe
3        Austria          AUT  30.8    Austria               Western Europe
4        Belgium          BEL  27.6    Belgium               Western Europe

   Happiness Rank  Happiness Score  Lower Confidence Interval  \
0             109            4.655                      4.546
1              26            6.650                      6.560
2             121            4.360                      4.266
3              12            7.119                      7.045
4              18            6.929                      6.861

   Upper Confidence Interval  Economy (GDP per Capita)   Family  \
0                      4.764                   0.95530  0.50163
1                      6.740                   1.15137  1.06612
2                      4.454                   0.86086  0.62477
3                      7.193                   1.45038  1.08383
4                      6.997                   1.42539  1.05249

   Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                   0.73007  0.31866                        0.05301
1                   0.69711  0.42284                        0.07296
2                   0.64083  0.14037                        0.03616
3                   0.80565  0.54355                        0.21348
4                   0.81959  0.51354                        0.26248

   Generosity  Dystopia Residual Country Name_y           GDP
0     0.16840            1.92816        Albania   4124.055726
1     0.10989            3.12985      Argentina  12790.242470
2     0.07793            1.97864        Armenia   3591.828052
3     0.32865            2.69343        Austria  45276.831440
4     0.24240            2.61355        Belgium  41984.103030

In [6]:
# 2015 DONE 
Merged_2015 = pd.merge(left= Gini_2015, right = Happiness_2015, left_on='Country Name',right_on = 'Country')

Merged_2015 = pd.merge(left= Merged_2015, right = GDP_2015, left_on='Country',right_on = 'Country Name')
Merged_2015 = Merged_2015.rename(columns={'2015':'GINI'})

print(Merged_2015.head())

Merged_2015 = Merged_2015[['Country','Country Code','GINI','GDP','Happiness Score']]
Merged_2015 = Merged_2015.sort_values(by= ['GDP'], ascending = False)

Merged_2015.head()

Merged_2015['GINI'] = Merged_2015['GINI'].multiply(-1)
Merged_2015['GINI'] = Merged_2015['GINI'].add(100)



Merged_2015.to_csv("/Users/jackheadland/Desktop/Data Analysis capstone /Cleaned Data/Cleaned with Python/Merged_2015_Cleaned.csv")

  Country Name_x Country Code  GINI  Country                      Region  \
0        Albania          ALB  32.9  Albania  Central and Eastern Europe
1        Armenia          ARM  32.4  Armenia  Central and Eastern Europe
2        Austria          AUT  30.5  Austria              Western Europe
3        Belgium          BEL  27.7  Belgium              Western Europe
4          Benin          BEN  47.8    Benin          Sub-Saharan Africa

   Happiness Rank  Happiness Score  Standard Error  Economy (GDP per Capita)  \
0              95            4.959         0.05013                   0.87867
1             127            4.350         0.04763                   0.76821
2              13            7.200         0.03751                   1.33723
3              19            6.937         0.03595                   1.30782
4             155            3.340         0.03656                   0.28665

    Family  Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0  0.80434                   0.81325  0.35733                        0.06413
1  0.77711                   0.72990  0.19847                        0.03900
2  1.29704                   0.89042  0.62433                        0.18676
3  1.28566                   0.89667  0.58450                        0.22540
4  0.35386                   0.31910  0.48450                        0.08010

   Generosity  Dystopia Residual Country Name_y           GDP
0     0.14272            1.89894        Albania   3952.801215
1     0.07855            1.75873        Armenia   3607.289299
2     0.33088            2.53320        Austria  44178.047380
3     0.22250            2.41484        Belgium  40991.808140
4     0.18260            1.63328          Benin   1076.796702

In [7]:
Aggregate = Merged_2016.append(Merged_2015, ignore_index = True)
Aggregate = Aggregate.append(Merged_2017, ignore_index = True)
Aggregate = Aggregate.append(Merged_2018, ignore_index = True)

Aggregate.to_csv("/Users/jackheadland/Desktop/Data Analysis capstone /Cleaned Data/Cleaned with Python/Aggregate_Cleaned.csv")